BasedOnStyle: LLVM

ColumnLimit: 0
AccessModifierOffset: -2
IndentWidth: 2
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: All

ExperimentalAutoDetectBinPacking: true
